:root{
--primary: #ff5722;
--primary-light:#fc8f6e;
--dark: rgb(136, 136, 136);
--shadow: 2px 0 8px rgba(0, 0, 0, 3);
--corners: 4px;
 --text-color:#000000;
--dark:#141414;
 --light: #ebebeb;

}

body{
  background-color: var(--primary-light);
  font-family: 'Permanent Marker', cursive;
  font-size: 16pt;
  color: var(--text-color)
}
header{
  margin: 1em 0;
}

img{
  max-width: 50%;
}

form{
  margin: 0;
}

input{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--text-color);
  outline: none;
  font-size: 14pt;
  
}

button{
  background-color: var(--primary);
  color: var(--light);
  border: none;
  border-radius: var(--corners);
  box-shadow: var(--shadow);
  text-transform: capitalize;
  transition: all .2s ease;
  cursor: pointer;
  padding: 1em
  ;
}
button:hover{
  background-color: var(--primary-light);
}

.game-container{
  height: 300px;
}
.btn-dark{
  background-color: rgb(71, 40, 0);
  border-color: var(--primary);
}
.btn-dark:hover{
  background-color: limegreen;
}

.pump{
  height: 100px;
  width: 180px;
  position: relative;
  align-self: flex-end;
}
.handle{
  height: 10px;
  width: 80px;
  background-color: orangered;
  position: absolute;
  top: -10px;
  left: 0;
  display: flex;
  justify-content: center;
  transition: all .05s linear;
}
.pump:active .handle{
  top: -20px;
}

.handle::before{
  content:"";
  background-color: orangered;
  width: 10px;
  height: 40px;
  display: block;
}
.pump-box {
  background-color:lightskyblue;
  height: 100px;
  width: 80px;  
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  z-index: 2;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}
.pump-box span{
  background-color: rgb(223, 218, 226);
  padding: .5em;
}
.balloon{
  height: 120px;
  width: 100px;
  background-color: rgb(30, 255, 0);
  border-radius: 50%;
  transition: all .2s ease;
  animation: balloon-float 5s  ease-in-out infinite;
  align-self: flex-end;
  margin: 0 auto;
  box-shadow: inset -10px -10px 12px rgba(0, 0, 0, 0.3);
  background: rgb(83,35,24);
background: linear-gradient(90deg, rgba(83,35,24,1) 0%, rgba(167,71,12,1) 38%, rgba(255,109,0,1) 100%);
}
.balloon.green{
  filter: hue-rotate(108deg);
}
.balloon.blue{
  filter: hue-rotate(154deg);
}
.balloon.purple{
  filter: hue-rotate(248deg);
}
.balloon.pink{
  filter: hue-rotate(298deg);
}

  
  @keyframes balloon-float {
    0%,100% {
      transfrom: translateY(-25px) rotate(5deg);
    }
    50%{      transfrom: translateY(0px) rotate(-5deg);
    }
  }
  

.card{
  background-color: var(--light);
  padding: 1em;
  box-shadow:var(--shadow);
  border-radius: var(--corners);
}

.logo-container{
  width: 50%;
  margin:auto;
  box-shadow: var(--shadow);
}

.container{
  width: 50%;
  margin: auto;
}

.shadow{
  filter: drop-shadow(var(--shadow));
  
}
.d-flex.space-between{
  justify-content: space-between;
}
.d-flex{
  display:flex;
  align-items: center;
}
.d-flex.space-around{
  justify-content: space-around;
}

.mt-1{
  margin-top: 1em;
}
.mt-2{
  margin-top: 2em;
}
.mt-3{
  margin-top: 2.5em;
}
.mb-1{
  margin-bottom: 1em;
}
.mb-2{
  margin-bottom: 2em;
}
.mb-3{
  margin-bottom: 2.5em;
}
.bg-dark{
  background-color: var(--primary-light);
}
.text-light{
  color: var (var(--light))
}
.hidden{
  display: none;
}
